.section.intro {
  padding-left: 10%;
  padding-top: 10%;
  background-color: transparent;

  .hero {
    padding: 2em;
    flex: 0 0 40%;
    width: 40%;
    align-self: start;
  }

  .navigation {
    flex: 0 0 20%;
    align-self: start;
  }

  @media (max-width: 1500px) {
    padding-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
    .hero {
      padding: 2em;
      flex: 0 0 80%;
      width: 80%;
      text-align: center;
    }

    .navigation {
      flex: 0 0 50%;
    }
  }
}
