.nopad {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 2px;
}

.p-2 {
  padding: 5px;
}

.p-3 {
  padding: 8px;
}

.p-4 {
  padding: 10px;
}
