@import "../../shared/colors.scss";

.home {
  color: $text-primary;
  background-color: $bg-primary;
}

.move {
  transition: padding 0.5s ease-out;
}
.move:hover {
  padding-left: 5em;
}

.about {
  color: $text-secondary;
  background-color: $bg-secondary;
}

.interests {
  background-color: $bg-tertiary;
}
