@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "DM Sans", monospace;
}
#canvas {
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  & div {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    canvas {
      z-index: 0;
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      top: 0;
      left: 0;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181818;
}

#page-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#content {
  margin-top: 5em;
  margin-bottom: 3em;
  grid-column: 2 / 3;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #c9d2e0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5em;
}

.toggle-boids {
  position: fixed;
  cursor: pointer;
  z-index: 100;
  color: #ddd;
  padding: 10px 20px;
  filter: drop-shadow(1px 1px 5px #000);
  &:hover {
    color: rgba(238, 238, 238, 0.699);
  }
  &.disabled {
    color: rgba(238, 238, 238, 0.445);
  }
}
.pane {
  background-color: #252529;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 5px 5px 0px #0004;

  a {
    color: #83ffe0;
    &:hover,
    &:active {
      color: #f2fffd;
    }
  }
}

@media screen and (max-width: 1050px) {
  * {
    // font-size: 1.2rem;
  }
  #content {
    border: 10px red solid;
    margin: 0;
    min-height: 100vh;
    grid-column: 1/4;
  }
  .pane:last-child {
    flex: 1;
  }
}

.pane-light {
  background-color: rgba(194, 208, 255, 0.8);
  color: #333;
  a {
    color: #222;

    &:hover,
    &:active {
      color: #111;
    }
  }
}

.display {
  font-family: "Staatliches", sans-serif;
  align-self: center;
  font-weight: 600;
  font-size: 4em;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 0.9em;
}

.nopad {
  padding: 0;
}

h3 {
  margin-bottom: 0.5em;
}
h4 {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}
