@import "../shared/colors.scss";

.navbar {
  filter: drop-shadow(-5px 0px 5px #0004);
  position: fixed;
  height: 100vh;
  width: 40vw;
  right: calc(-10%);
  top: 0;
  color: $nav-text-primary;
  transition: right ease-in-out 0.5s;
}
.navbar.collapsed {
  right: calc(-70vw);

  .navbar-gradient {
    transform: skew(45deg, 0deg);
  }
}

.navbar-gradient {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 40vw;
  top: 0;
  left: -4em;
  transform: skew(-5deg, 0deg);
  transition: transform ease-in-out 0.5s;

  background: linear-gradient(
    to bottom right,
    rgba($nav-primary, 100%),
    rgba($nav-secondary, 100%)
  );
}

.navbar-collapse {
  position: fixed;
  transform: rotate(180deg);
  right: 0;
  z-index: 100;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  display: flex;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  cursor: pointer;
}

.navbar-collapse.collapsed {
  right: 0;
  transform: rotate(0deg);
}

.navbar-content {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
  top: 50px;
}

.navbar nav ul {
  list-style: none;
}
.navbar nav {
  a {
    text-decoration: none;
    font-size: 3em;
    color: $nav-text-muted;
    transition: color 0.2s ease-in-out;
  }
  a.active {
    color: $nav-text-primary !important;
  }
  a:hover {
    color: lighten($nav-text-primary, 50%);
  }
}
