@import "./shared/colors.scss";
body {
  background: linear-gradient(
    to bottom right,
    $bg-primary,
    lighten($bg-primary, 10%)
  );
  height: 100%;
  width: 100%;
}

.App {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
