@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap");
@import "./shared/colors.scss";
* {
  font-family: "Bitter", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
}

a:hover {
  color: lighten($link-color, 10%);
}

.animated-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: rgba($nav-primary, 20%);
  width: 0%;
  bottom: 0px;
}
.animated-link:hover::before {
  width: 100%;
}
